 <!DOCTYPE html>
 <html lang="en">
 <head>
   <title>WHoGotPhished</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="../../static/css/website.css">
    <link rel="stylesheet" href="../../static/css/sweetalert2.min.css">
   
   
   <link
      href="https://fonts.googleapis.com/css?family=Roboto:700,500"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700"
      rel="stylesheet"
      type="text/css"
    />
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="../../static/js/src/vendor/jquery.js"></script>
   <!-- <script src="../../static/js/src/vendor/select2.min.js"></script> -->
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

 </head>
 <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-none" style="background-color: #5db0b1;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../static/images/logo.png" class="img-fluid nabarLogo" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<section>
   <div class="container">
   <div class="row">
    <div class="col-sm-6 d-flex justify-content-center flex-column">
      <h2 class="mainHeader">Who Got Phished</h2>
      <p class="mainHeaderText">A fully managed phishing solution</p>
    </div>
    <div class="col-sm-6 text-center">
      <img src="../../static/images/image.png" class="" style="height: 500px;" alt="">
    </div>
   </div>     
 </div>
</section>
<section class="bg-white">
  <div class="container">
    <p class="contentHeading text-center mb-3">Simulate Phishing Threats And Train Your Employees</p>
    <p class="text-center  mb-5">Pre-build email templates to give real-world phishing scenarios to deliver a truly realistic training experience with real time dashboard.
    The First In Pakistan in Phishing Simulation & Training
      Are you looking for cost-effective phishing simulations? We are here to help you simulate your own campaigns and see results in realtime.</p>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
       
        <div class="col">
          <div class="card">
            <img src="../../static/images/screen-1.png" class="card-img-top " alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../static/images/screen-2.png" class="card-img-top " alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../static/images/screen-3.png" class="card-img-top " alt="...">
          </div>
        </div>
       
    
      </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="contentHeading">Scalable and Customisable</p>
    <p class="text-center">Take control of your phishing campaigns with customisable phishing emails, websites, sender profiles and delivery frequencies.</p>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col ">
          <div class="card customShadow">
            <img src="../../static/images/img-1.png" class="platformImg" alt="...">
           
          </div>
        </div>
        <div class="col">
          <div class="card customShadow">
            <img src="../../static/images/img-2.png" class="platformImg " alt="...">
          
          </div>
        </div>
        <div class="col ">
          <div class="card customShadow">
            <img src="../../static/images/img-3.png" class="platformImg" alt="...">
          
          </div>
        </div>
    
      </div>
  </div>
</section>
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="contentHeading">Features</p>
        <ul class="nav">
          <li>
            <p class="featureHeading">* Modern and Intuitive</p>
             <p class="featureText">A best-in-class intuitive interface with no training required. We maintain a detailed knowledge base and provide support by email, chat or phone.</p>
          </li>
          <li>
            <p class="featureHeading">* Modern Phishing Templates</p>
            <p class="featureText">Choose from our regularly updated library of phishing websites and emails.</p>
          </li>
          <li>
            <p class="featureHeading">* Train Employees</p>
            <p class="featureText">Online training questions will train your employee as soon as they are phished. On completion an course certificate is emailed acknowledge their learning.</p>
          </li>
          <li>
            <p class="featureHeading">* Refine & Improve</p>
            <p class="featureText">Track, train & improve the security awareness of your employees while also continually meeting compliance obligations.</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 d-flex flex-column  justify-content-center">
         <div class="card container  py-5 w-75">
          <p class="contentHeading text-center mb-5"> Contact Us </p> 
            <div class="row mb-3">
              <div class="col-sm-6">
                <div class = "my-2">  
                  <label for = "uname"> First Name: </label>  
                  <input type = "text" class = "form-control" id = "uname" placeholder = "First Name" name = "sname" required>  
                  </div> 
              </div>
              <div class="col-sm-6">
                <div class = "my-2">  
                  <label for = "uname"> Last Name: </label>  
                  <input type = "text" class = "form-control" id = "uname" placeholder = "Last Name" name = "sname" required>  
                  </div> 
              </div>
            </div> 
            <div class = "my-2 mb-3">  
            <label for = "uname"> Company Name: </label>  
            <input type = "text" class = "form-control" id = "uname" placeholder = "Company Name" name = "sname" required>  
            </div>  
            <div class="my-2 mb-3">  
            <label for = "tel"> Phone Number: </label>  
            <input type = "tel" class = "form-control" id = "tel" placeholder = "Phone Number" name="pswd" required>  
            </div>  
            <div class="my-2 mb-3">  
            <label for = "pswd"> Email: </label>  
            <input type = "email" class = "form-control" id = "pswd" placeholder = "Email" name="pswd" required>  
            </div>  
          <button type = "" id="contactUs" class = "contactUsBtn"> Submit </button>
              
            
         </div>
         
      </div>
    </div>
  </div>
</section>
<section class="border-top">
  <div class="footer-light footer-bottom py-4">
    <div class="container">
    <div class="row justify-content-between align-items-center">
    <div class="col-lg-7 col-md-7">
    <div class="copyright-text">
    <p class="mb-lg-0 mb-md-0">Copyright © 2022 WhoGotPhished. All rights reserved.</p>
    </div>
    </div>
    <div class="col-lg-4 col-md-4">
    <div class="footer-single-col text-lg-end text-md-end text-start d-flex align-items-center">
    <div class="d-inline-block me-4 mb-3 mb-md-0 mb-lg-0 d-flex">
    <a class="text-decoration-none me-3" style="white-space: nowrap;" href="#"><small>Privacy Policy</small></a>
    <a class="text-decoration-none" style="white-space: nowrap;" href="#"><small>Terms of Service</small></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
<script>
$('#contactUs').on('click',function(){
  Swal.fire({
  position: 'center',
  icon: 'success',
  title: 'Congratulations!',
  text: 'Your message has been submitted successfully.',
  showConfirmButton: false,
  timer: 1500
})
 
})
</script>
 
 </body>
 </html>
 