{{define "body"}}
<div class="col-sm-12 col-md-12">
    <div class="row">
        <p
    class=""
    style="font-size: 26px; font-family: -webkit-pictograph; font-weight: 600"
  >
            {{.Title}}
</p>
    </div>
    <div id="flashes" class="row">
        {{template "flashes" .Flashes}}
    </div>
    <!-- <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div> -->
    <div class="row" style="background-color: #fff;
    padding: 10px;
    border-radius: 5px;">
        <table id="userTable" class="table" style="display:block;">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Campaign</th>
                    <th>Message</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead> 
            <tbody id="contacts" class="container">
                
            </tbody>
        </table>
    </div>
</div>

{{end}} {{define "scripts"}}
<script src="/js/dist/app/contacts.js"></script>
{{end}}