{{define "nav"}}
<div class="container-fluid" >
    <div class="row">
        {{if .ModifySystem}}
        <div class="col-sm-3 col-md-2 sidebar" style="background-color:hsl(181deg 35% 53%); ">
            {{else}}
        <div class="col-sm-3 col-md-2 sidebar" style="background-color:#0f00ab; ">
        {{end}}
            <ul class="nav nav-sidebar" style="color:#fff;">
                <li style="background-color:#fff;color:#000; text-align:center;   
   
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;">
                <div style="color: #187d97">
                 <img src="../static/images/logo.png" style="max-width: 180px !important;"/>
                </div>
                <!-- <div style="color: #187d97">CYBER TRUST</div>
                    <div class="a" style="background-color: #187d97;color:#fff">
              ALLI <i class="fa fa-lock"></i> NCE -->
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/campaigns">Campaigns</a>
                </li>
                <li>
                    <a href="/groups">Users &amp; Groups</a>
                </li>
               
                <li>
                    <a href="/sending_profiles">Sending Profiles</a>
                </li>
                <li>
                    <a href="/settings">Account Settings</span></a>
                </li>
                <!-- <li>
                    <a href="/questions">Questions</a>
                </li> -->
                {{if .ModifySystem}}
                 <li> <a href="/templates">Email Templates</a>
                </li>
                <li>
                    <a href="/landing_pages">Landing Pages</a>
                </li>
                <li>
                    <a href="/users">User Management<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <li>
                    <a href="/webhooks">Webhooks<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <!-- <li>
                    <a href="https://docs.getgophish.com/user-guide/">User Guide</a>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/api-documentation/">API Documentation</a>
                </li>
                <li>
                    <a href="/contacts">Contacts</a> -->
                </li>
                
                {{end}}
                
                
                <!-- <li>
                    <a href="#">Back to CEBA</a>
                </li> -->
                {{/* <li>
                    <hr>
                </li> */}}
            </ul>
        </div>
    </div>
</div>
{{end}}
